extends _layout.pug

block locals
  - var title = 'webpack world'
block content
  h1 webpack world!
  div#root
  img(src="../images/cut_R_fin-1280x1280.jpeg")
  img(src="../images/cut_R_fin-1280x1280.jpeg")
  img(src="../images/dOSvAmu-megaman-battle-network-wallpaper.jpg")
